body {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    color: #000;
    font-size: 14px;
    line-height: 24px;
}

.header hr {
    margin-top: 0;
}

.header .info-header {
    font-size: 12px;
    justify-content: space-between;
}

.header .info-header .text-right a {
    color: #3b5998;
    text-decoration: none;
}

.header .menu-header {
    justify-content: space-between;
}

.header .menu-header .menu-right .list-menu-right {
    list-style: none;
}

.header .menu-header .menu-right .list-menu-right li {
    border-left: 1px solid #e6e8ea;
}

.header .menu-header .menu-right .list-menu-right li .menu-company{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url("../images/bg_topnav_off.png");
    background-repeat: no-repeat;
}
.header .menu-header .menu-right .list-menu-right li .menu-company:hover{
    background-image: url("../images/bg_topnav_on.png");
}

.header .menu-header .menu-right .list-menu-right li .menu-contact{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url("../images/bg_topnav_off.png");
    background-repeat: no-repeat;
    background-position: -384px 0;
}
.header .menu-header .menu-right .list-menu-right li .menu-contact:hover{
    background-image: url("../images/bg_topnav_on.png");
}

.header .menu-header .menu-right .list-menu-right li .menu-entry{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url("../images/bg_topnav_off.png");
    background-repeat: no-repeat;
    background-position: -576px 0;
}
.header .menu-header .menu-right .list-menu-right li .menu-entry:hover{
    background-image: url("../images/bg_topnav_on.png");
}
.header .menu-header .menu-right .list-menu-right li{
    width: 192px;
    height: 59px;
}

.header .menu-header .menu-right .list-menu-right li a:hover {
    /* background-color: red; */
}

.header .menu-header .menu-left a {
    opacity: 1;
}

.header .menu-header .menu-left a img {
    width: 200px;
    height: auto;
}

.content .video {
    position: relative;
}

.content .video video {
    width: 100%;
}

.content .video ul {
    position: absolute;
    bottom: 20px;
    width: 100%;
    margin-left: 0;
    list-style: none;
}

.content .video ul li {
    font-weight: bold;
    color: #000;
    font-size: 115%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0.7;
}

.content .video ul li a {
    background: #ccc;
    border-radius: 6px;
    border: solid 1px #999;
    width: 100%;
    padding: 20px 10px;
    margin: 10px 20px;
    text-decoration: none;
    color: #000;
}

.content .video ul li:hover {
    opacity: 0.5;
}

.content .header-news {
    margin-top: 20px;
    text-align: center;
}

.content .header-news h2 {
    font-size: 24px;
}

.content .header-news h2 span::after {
    border-bottom: 1px solid #dee1e3;
    content: "";
    width: 100%;
    display: block;
    margin: -10px auto 30px auto;
}

.content .header-news h2 span {
    background-color: #fff;
    padding: 0 10px;
    font-weight: bold;
}

.content .header-news h2 span strong {
    color: red;
}

.content .header-news .table {
    margin-top: -40px;
}

.content .header-news .table tbody tr {
    text-align: left;
}

.content .header-news .table tbody tr td a{
    text-decoration: none;
    color: black;
}

.content .image-cooperate {
    justify-content: center;
    margin-bottom: 20px;
}

.content .image-cooperate i {
    color: #466c90;
    font-size: 60px;
    margin: 30px 30px 0 20px;
}

.content .image-orientation .item-1 {
    text-align: center;
}

.content .image-orientation .item-2 {
    justify-content: center;
}

.content .image-orientation .item-2 .item-img {
    margin-top: 10%;
}

.content .image-orientation .item-2 img {
    height: 100%;
}

.content .image-orientation .item-3 {
    text-align: center;
    margin-bottom: 40px;
}

.content .history {
    margin-top: 20px;
}

.content .history div h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: -30px;
}

.content .history div h2 span::after {
    border-bottom: 1px solid #dee1e3;
    content: "";
    width: 100%;
    display: block;
    margin: -10px auto 30px auto;
}

.content .history div h2 span {
    background-color: #fff;
    padding: 0 10px;
    font-weight: bold;
}

.content .history div h2 span strong {
    color: red;
}

.content .history div h4 {
    margin: 1em 0;
    padding: 0.5em 1em;
    background: Lavenderblush;
    box-shadow: 0 0 4px #dee2e6;
    text-align: left;
    font-size: 18px;
}

.content .history div h4 small {
    font-size: 70%;
    color: #777;
}

.content .history .text-danger-history {
    color: red;
    font-size: 13px;
}