.header .menu ul {
    list-style: none;
}

.header .menu ul li .text-menu {
    color: black;
}

.header .menu ul li a {
    padding: 10px;
    text-decoration: none;
}

.header .menu ul li:hover {
    background-color: #0081C1;
    color: white;
}

.header .menu ul .active {
    border-bottom: 3px solid #0081C1;
    color: #0081C1;
}

.header .menu ul .dropdown {
    position: relative;
    display: inline-block;
}

.header .menu ul .dropdown-content {
    display: none;
    position: absolute;
    background-color: #0081C1;
    min-width: 160px;
    z-index: 1;
    padding: 10px;
}

.header .menu ul .dropdown-content hr {
    color: white;
}

.header .menu ul .dropdown-content .item-dropdown {
    display: block;
    color: white;
}

.header .menu ul .dropdown-content .item-dropdown:hover {
    text-decoration: underline;
}

.header .menu ul .dropdown-1:hover .dropdown-content {
    display: block;
}

.header .menu ul .dropdown-2:hover .dropdown-content {
    display: block;
}

.header .menu ul .dropdown-3:hover .dropdown-content {
    display: block;
}

.header .menu ul .dropdown-4:hover .dropdown-content {
    display: block;
}

.header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header .menu ul > li > a {
    height: 55px;
    line-height: 55px;
    padding: 0 15px;
    font-size: 12px;
}

.header .menu ul > li > div[class*="dropdown-"] > span {
    height: 55px;
    line-height: 55px;
    padding: 0 15px;
    font-size: 12px;
}

.header .menu ul > li > div[class*="dropdown-"] > .dropdown-content {
    min-width: 250px;
    -webkit-animation: hoverMenu 1000ms ease-out;
    animation: hoverMenu 1000ms ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-transform: translate(-30%, 0);
    transform: translate(-30%, 0);
    max-height: 130px;
    padding: 5px 10px;
    z-index: 99;
}

.header .menu ul > li > div[class*="dropdown-"] > .dropdown-content a {
    padding: 8px 0;
}

.header .menu ul > li > div[class*="dropdown-"] > .dropdown-content hr {
    display: none;
}

.header .menu ul > li:hover a {
    color: #FFF;
}

.header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header .menu #search ul li:hover {
    background-color: transparent;
}

.header .menu #search ul li a {
    padding: 0;
}

@-webkit-keyframes hoverMenu {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}

@keyframes hoverMenu {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}

.content {
    padding-top: 20px;
}

.owl-nav {
    display: none;
}

.owl-nav button[class*="owl-"] {
    position: absolute;
    z-index: 1;
    top: 45%;
}

.owl-nav button[class*="owl-"]:focus {
    outline: none;
}

.owl-nav .owl-next {
    right: 0;
}

.wrapper-slide {
    max-width: 980px;
    margin: auto;
}

.wrapper-slide .slide img {
    width: auto !important;
    display: inline-block !important;
}

.wrapper-slide .mid {
    font-size: 19px;
    line-height: normal;
    color: #00517a;
}

.wrapper-slide .slide_text {
    padding-top: 40px;
}

.wrapper-slide .slide_text .sblue {
    font-size: 28px;
    line-height: normal;
    color: #00517a;
}

.wrapper-slide .slide_text .sgrey {
    font-size: 24px;
    line-height: normal;
    color: #666;
}

.wrapper-slide .slide-child1 p:nth-child(1) img, .wrapper-slide .slide-child5 p:nth-child(1) img {
    float: right;
}

.wrapper-slide .slide-child2 p:nth-child(1) img, .wrapper-slide .slide-child3 p:nth-child(1) img, .wrapper-slide .slide-child4 p:nth-child(1) img {
    margin-right: 20px;
    float: left;
}

.wrapper-slide .owl-stage-outer {
    position: relative;
}

.wrapper-slide:hover .owl-nav {
    display: block;
}

.wrapper-links {
    margin: 20px 0;
}

.wrapper-links a {
    display: inline-block;
    padding: 15px 40px;
    font-size: 34px;
    color: #FFF;
    background: -webkit-gradient(linear, left top, right top, color-stop(13%, #61b6d3), color-stop(52%, #4290ba), color-stop(90%, #61b6d3));
    background: linear-gradient(90deg, #61b6d3 13%, #4290ba 52%, #61b6d3 90%);
}

.wrapper-persons {
    background: -webkit-radial-gradient(center, ellipse farthest-corner, #008FD5 0%, #00689B 100%);
}

.wrapper-persons .title {
    text-transform: uppercase;
    color: #fff;
    padding: 15px 0;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    margin-bottom: 15px;
    font-size: 18px;
}

.wrapper-persons .owl-nav button[class*="owl-"] {
    top: 30%;
}

.wrapper-persons:hover .owl-nav {
    display: block;
}

.wrapper-persons .owl-stage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
}

.wrapper-persons .owl-stage .owl-item > div {
    height: 100%;
}

.wrapper-persons .owl-stage .owl-item > div img {
    height: 100%;
}

.owl-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px 0;
}

.owl-dots .owl-dot {
    width: 16px;
    height: 15px;
    background: url(../images/nav.png) 0 0 no-repeat !important;
}

.owl-dots .owl-dot:focus {
    outline: none;
}

.owl-dots .owl-dot.active {
    background-position: 0 -15px !important;
}

.owl-dots .owl-dot:hover {
    background-position: 0 -15px !important;
}

.wrapper-producer {
    margin: 15px 0;
    display: inline-block;
    max-width: 400px;
    background: #FBFBFB;
    -webkit-box-shadow: inset 0 0px 4px 0px #929292;
    box-shadow: inset 0 0px 4px 0px #929292;
    padding: 20px;
}

.wrapper-producer .module-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 18px;
    text-transform: uppercase;
    color: #0081C1;
}

.wrapper-producer .module-title .icon {
    background: url(../images/module_icons.png) 0 -120px no-repeat;
    width: 33px;
    height: 33px;
    display: inline-block;
    margin-right: 10px;
}

.wrapper-producer .student {
    text-align: center;
    font-size: 16px;
    color: #30f;
}

.content .header-news {
    margin-top: 20px;
    text-align: center;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.content .header-news h2 {
    font-size: 24px;
}

.content .header-news h2 span::after {
    border-bottom: 1px solid #dee1e3;
    content: "";
    width: 100%;
    display: block;
    margin: -10px auto 30px auto;
}

.content .header-news h2 span {
    background-color: #fff;
    padding: 0 10px;
    font-weight: bold;
}

.content .header-news h2 span strong {
    color: red;
}

.content .header-news .table {
    margin-top: -40px;
}

.content .header-news .table tbody tr {
    text-align: left;
}

.content .header-news .table tbody tr td a {
    text-decoration: none;
    color: black;
}

/*# sourceMappingURL=style1.css.map */