.header .menu ul {
    list-style: none;
}

.header .menu ul li .text-menu {
    color: black;
}

.header .menu ul li a {
    padding: 10px;
    text-decoration: none;
}

.header .menu ul li:hover {
    background-color: #0081C1;
    color: white;
}

.header .menu ul .active {
    border-bottom: 3px solid #0081C1;
    color: #0081C1;
}

.header .menu ul .dropdown {
    position: relative;
    display: inline-block;
}

.header .menu ul .dropdown-content {
    display: none;
    position: absolute;
    background-color: #0081C1;
    min-width: 160px;
    z-index: 1;
    padding: 10px;
}

.header .menu ul .dropdown-content hr {
    color: white;
}

.header .menu ul .dropdown-content .item-dropdown {
    display: block;
    color: white;
}

.header .menu ul .dropdown-content .item-dropdown:hover {
    text-decoration: underline;
}

.header .menu ul .dropdown-1:hover .dropdown-content {
    display: block;
}

.header .menu ul .dropdown-2:hover .dropdown-content {
    display: block;
}

.header .menu ul .dropdown-3:hover .dropdown-content {
    display: block;
}

.header .menu ul .dropdown-4:hover .dropdown-content {
    display: block;
}

.header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header .menu ul > li > a {
    height: 55px;
    line-height: 55px;
    padding: 0 15px;
    font-size: 12px;
}

.header .menu ul > li > div[class*="dropdown-"] > span {
    height: 55px;
    line-height: 55px;
    padding: 0 15px;
    font-size: 12px;
}

.header .menu ul > li > div[class*="dropdown-"] > .dropdown-content {
    min-width: 250px;
    -webkit-animation: hoverMenu 1000ms ease-out;
    animation: hoverMenu 1000ms ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-transform: translate(-30%, 0);
    transform: translate(-30%, 0);
    max-height: 130px;
    padding: 5px 10px;
    z-index: 99;
}

.header .menu ul > li > div[class*="dropdown-"] > .dropdown-content a {
    padding: 8px 0;
}

.header .menu ul > li > div[class*="dropdown-"] > .dropdown-content hr {
    display: none;
}

.header .menu ul > li:hover a {
    color: #FFF;
}

.header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header .menu #search ul li:hover {
    background-color: transparent;
}

.header .menu #search ul li a {
    padding: 0;
}

@-webkit-keyframes hoverMenu {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}

@keyframes hoverMenu {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}

.content .explanation .cards {
    margin-top: 25px;
}

.content .explanation .cards .title-card {
    margin-left: -20px;
    color: black;
}

.content .explanation .cards .body-card {
    margin-top: 10px;
    border: 3px solid #69a3c8;
}

.content .explanation .cards .body-card div:nth-child(2) {
    letter-spacing: 12px;
    color: #69a3c8;
}

.content .explanation .cards .body-card .body-card-top {
    height: 3vw;
}

.content .explanation .cards .body-card .body-card-top .content-card-left {
    position: relative;
}

.content .explanation .cards .body-card .body-card-top .content-card-left img {
    position: absolute;
    top: 0;
    height: 3vw;
}

.content .explanation .cards .body-card .body-card-top .content-card-left span {
    color: black;
    position: absolute;
    top: 0;
    z-index: 999;
    font-weight: 600;
}

.content .explanation .cards .body-card .body-card-top .content-card-left input {
    position: absolute;
}

.content .explanation .cards .body-card .body-card-top .content-card-right {
    color: red;
    letter-spacing: unset;
    font-size: 25px;
    text-align: center;
    padding: 25px;
}

.content .explanation .cards .body-card .body-card-bottom {
    height: 3vw;
}

.content .explanation .cards .body-card .body-card-bottom .content-card-left {
    position: relative;
}

.content .explanation .cards .body-card .body-card-bottom .content-card-left img {
    position: absolute;
    top: 0;
    height: 3vw;
}

.content .explanation .cards .body-card .body-card-bottom .content-card-left span {
    color: black;
    position: absolute;
    top: 0;
    z-index: 999;
    font-weight: 600;
}

.content .explanation .cards .body-card .body-card-bottom .content-card-left input {
    position: absolute;
}

.content .explanation .cards .body-card .body-card-bottom .content-card-right {
    color: red;
    letter-spacing: unset;
    font-size: 25px;
    text-align: center;
    padding: 25px;
}

.content .explanation {
    padding-left: 25%;
    padding-right: 25%;
}

.content .explanation span {
    color: red;
    font-size: 25px;
}

.content .explanation .iframe .item {
    padding: 10px;
    width: 100%;
}

.content .explanation .iframe .item div {
    border: 3px solid #4c7996;
    background-color: #62abda;
    color: white;
    text-align: center;
    padding: 25px;
}

.content .header-news {
    margin-top: 20px;
    text-align: center;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.content .header-news h2 {
    font-size: 24px;
}

.content .header-news h2 span::after {
    border-bottom: 1px solid #dee1e3;
    content: "";
    width: 100%;
    display: block;
    margin: -10px auto 30px auto;
}

.content .header-news h2 span {
    background-color: #fff;
    padding: 0 10px;
    font-weight: bold;
}

.content .header-news h2 span strong {
    color: red;
}

.content .header-news .table {
    margin-top: -40px;
}

.content .header-news .table tbody tr {
    text-align: left;
}

.content .header-news .table tbody tr td a{
    text-decoration: none;
    color: black;
}
